bs4
coverage
django
django-cors-headers
django_crontab
django-nose
djangorestframework
djangorestframework-simplejwt
django-postgres-extensions
drf-yasg
drf-yasg2
ExifRead
firebase-admin
geopy
lorem
markdown
pact-python
Pillow
pkcs7==0.1.0
psycopg2-binary>=2.8
pybase64
pycryptodome
pyheif
requests
whatimage
wheel
