bs4
coverage
django
django_crontab
django-nose
djangorestframework
djangorestframework-simplejwt
drf-yasg
firebase-admin
lorem
markdown
Pillow
pkcs7==0.1.0
psycopg2-binary>=2.8
pybase64
pycryptodome
requests
wheel
